# Visual Studio / .NET project files to ignore
## Build artifacts
bin/
obj/

## User-specific data
Data/

## Publish folder
publish/

## NuGet packages
packages/

## Visual Studio Code settings
.vscode/

## Other temporary files
*.user
*.suo
*.bak
*.log